<h1> My blog </h1>
<% @posts.each do |post| %>
<h2><%= link_to post.title, post %></h2>
<p> <%= post.content %> </p>
<% if post.email == current_user.email %>
<small> By You </small>
<p> <%= link_to "Edit", edit_post_path(post) %> 
	<%= link_to "Delete", post, :confirm => "Are you sure?", :method => :delete %> 
</p>
<% else %>
<small> By <%= post.email %> </small>
<% end %>
<hr>
<% end %>
<p><%=  link_to "Add a new post", new_post_path %></p>